@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

*{
  margin: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
header {
  margin: 0%;
  padding: 0%;
  position: fixed;
  z-index: 1;
  width: 100%;
}
body {
  overflow-y: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
a {
  text-decoration: none;
  color: #FFF;
}

h2 {
  font-family: 'Noto Sans JP', sans-serif;
}

form{
  width: 50%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 5em;
  height: 45px;
  border-radius:0 0 5px 5px;
  border:1px solid #ccc;
  border-top: none;
  background: #fff;
}

option {
  width: 50%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 5em;
  height: 45px;
  border-radius:0 0 5px 5px;
  border:1px solid #ccc;
  border-top: none;
  background: #fff;
}

.SRange {
  margin-left: 5em;
  width: 100%;
}

.Search {
  margin: 0;
  padding: 0;
    background: #dcefff;
  width: 100%;
}

.Search .Title {
  font-size: 1.2em;
  background: #5fb3f5;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.Search .form {
  display: flex;
  margin-left: 10%;
  width: 80%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: 2px solid #2589d0;
    border-radius: 3px;
}
.Search input {
  width: 250px;
  height: 45px;
  padding: 5px 15px;
  border: none;
  box-sizing: border-box;
  font-size: 1em;
  outline: none;
}

.Search input::placeholder{
  color: #767d83;
}
.Search button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 45px;
  border: none;
  background-color: #2589d0;
  cursor: pointer;
}
.Search button::after {
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  content: '';
}
.Search .SRNum {
  color:#767d83;
}

.SBox {
  display: flex;
}
/*-----------------------------------*/
/*map*/
.map {
  overflow-y: hidden;
  width: 50%;
  height: 100vh;
  float: left;
}

/*-----------------------------------*/
Link {
  text-decoration: none;
}
.carousel {
  width: 100%;
}

.RList__viewport {
 height: 90%;
 overflow-y: scroll;
}

.SRes {
  position: relative;
  top: 7em;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  float: right;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-family: "Noto Sans JP";
}

.RBox {
  margin: 2px;
  display: flex;
  border: 1px solid #ccc; /* Add a 1px solid border with color #ccc */
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.RBox:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.RBox1 {
  width: 100px;
}

.RBox2 {
  padding-left: 2em;
  width: 80%;
}